.Preview {
  display: block;
  width: 100%;
  max-width: 250px;
  margin: auto;
}

.ErrorNoticeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #333333;
  padding: 2rem;
}

.NotFoundHeading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 140%;
  margin: 0;
}

.PreviewImage {
  max-width: 100px;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 600px) {
  .Preview {
    max-width: 200px;
  }
}
